.course{
    display: flex;
}

.course-container{
    width: 70%;
    margin-left: 200px;
    margin-right: 10px;
    border-right: 1px solid lightgray;
    padding-top: 30px;
    padding-left: 50px;
    
}